body {
  margin: 0;
  overflow: hidden;
}

#gravity-simulator {
  position: relative;
}

.myCanvas {
  image-rendering: pixelated;
  position: absolute;
  border: solid black;
  z-index: 1;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 2px;
  align-items: center;
  text-align: end;
  flex: none;
  margin-left: 10px;
}

input {
  margin-left: 10px;
  flex: none;
  opacity: 1;
  align-content: end;
}

input[type="number"] {
  width: 70px;
  height: fit-content;
}

.taskbar {
  opacity: 1;
  border: 2px solid rgb(63, 63, 63);
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  width: max-content;
  flex-direction: row;
  position: absolute;
  z-index: 2;
}

#animation-controls {
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
}

#animation-controls input {
  width: 40px;
}

#animation-controls .play-pause-button {
  height: 35px;
}

.stretch-btn {
  display: block;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-content: center;
  border-bottom: 1px solid rgb(63, 63, 63);
}

.input-group:last-child {
  border-bottom: none;
}

.input-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dropdown-menu {
  border: 1px solid rgb(59, 59, 59);
}

.dropdown-panel {
  position: absolute;
  width: 200px;
  display: flex;
  border: 1px solid rgb(59, 59, 59);
  background-color: rgba(255, 255, 255, 0.7);
  flex-direction: column;
}

.toggle-button {
  background-color: rgb(167, 167, 167);
}

.create-parameters {
  justify-content: end;
}

.expand-icon {
  position: absolute;
  top: 50% - height/2;
  right: 90%;
}

.rotate-90 {
  transform: rotate(90deg);
}

button {
  position: relative;
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}

.expand-menu-button {

  height: 35px;
}

.play-pause-icon {
  height: 100%;
}

#fps-counter {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-family: monospace;
  z-index: 10;
}